<perfect-scrollbar
  class="container"
  [defaultImage]="defaultImage"
  [lazyLoad]="image"
>
  <div class="selectBanner">
    <img
      [defaultImage]="banner?.lowQualityUrl"
      [lazyLoad]="banner?.url"
      alt=""
    />
    <div class="select-image" (click)="openBannerDialog()">
      <mat-icon>
        autorenew
      </mat-icon>
    </div>
  </div>
  <div class="roundedImage">
    <img
      [defaultImage]="images?.lowQualityUrl"
      [lazyLoad]="images?.url"
      alt=""
    />
    <div class="select-image" (click)="openDialog()">
      <mat-icon>
        autorenew
      </mat-icon>
    </div>
  </div>

  <div class="form__container">
    <form [formGroup]="formTraining" (ngSubmit)="trainingSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Nome do treinamento</mat-label>
        <input matInput formControlName="title" />
        <mat-icon matSuffix>school</mat-icon>

        <mat-hint>
          <app-error-msg
            [control]="formTraining.get('title')"
            label="Nome do treinamento"
          >
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-icon matSuffix>library_books</mat-icon>

        <mat-hint>
          <app-error-msg
            [control]="formTraining.get('description')"
            label="Descrição"
          >
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Público alvo</mat-label>
        <textarea matInput formControlName="target"> </textarea>
        <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon>

        <mat-hint>
          <app-error-msg
            [control]="formTraining.get('target')"
            label="Público alvo"
          >
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Orientador</mat-label>

        <mat-select formControlName="advisor">
          <mat-option *ngFor="let advisor of advisors" [value]="advisor.id">
            <div class="select-advisor">
              <img
                class=""
                [defaultImage]="advisor.avatar.lowQualityUrl"
                [lazyLoad]="advisor.avatar.url"
                alt=""
              />
              {{ advisor.name }}
            </div>
          </mat-option>
        </mat-select>

        <mat-icon matSuffix>account_circle</mat-icon>

        <mat-hint>
          <app-error-msg
            [control]="formTraining.get('advisor')"
            label="Orientador"
          >
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nível</mat-label>
        <input matInput formControlName="level" />
        <mat-icon matSuffix>trending_up</mat-icon>

        <mat-hint>
          <app-error-msg [control]="formTraining.get('level')" label="Nível">
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Vagas</mat-label>
        <input matInput formControlName="vacancies" />
        <mat-icon matSuffix>people</mat-icon>

        <mat-hint>
          <app-error-msg
            [control]="formTraining.get('vacancies')"
            label="Vagas"
          >
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Enviar
      </button>
    </form>
  </div>
</perfect-scrollbar>
