<div class="container" [defaultImage]="defaultImage" [lazyLoad]="image">
  <div class="form__container">
    <form [formGroup]="form" (ngSubmit)="loginSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="ex: berlim@digital.com"
        />
        <mat-icon matSuffix>account_circle</mat-icon>

        <mat-hint>
          <app-error-msg [control]="form.get('email')" label="E-mail">
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          matInput
          placeholder="Digite sua senha"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />

        <mat-icon
          mat-icon-button
          matSuffix
          style="cursor: pointer"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
        >
        <mat-hint>
          <app-error-msg [control]="form.get('password')" label="Senha">
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Enviar
      </button>
    </form>
    <p class="link-form">
      Não possui uma conta? <a [routerLink]="['/cadastro']">Clique aqui</a>
    </p>
  </div>
</div>
