<script
  type="text/javascript"
  src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"
></script>
<perfect-scrollbar
  class="container"
  defaultImage="{{ defaultImage }}"
  lazyLoad="{{ image }}"
>
  <h1 class="training__title">TREINAMENTOS</h1>

  <div class="miniatures__wrapper">
    <div *ngFor="let t of training">
      <app-miniature
        [routerLink]="['/treinamentos', t.id, t.url]"
        [training]="t"
      ></app-miniature>
    </div>
  </div>
</perfect-scrollbar>
