<perfect-scrollbar class="container" config="{{ config }}">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <mat-spinner style="margin:0 auto" *ngIf="load"></mat-spinner>
      <ng-template matStepLabel>Seus Dados</ng-template>
      <form
        class="form-user-payment"
        [formGroup]="userInfo"
        (ngSubmit)="userInfoSubmit()"
      >
        <mat-form-field>
          <input
            matInput
            placeholder="Nome completo"
            formControlName="name"
          /> </mat-form-field
        ><br />
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email" />
        </mat-form-field>
        <div formGroupName="adress">
          <div class="address__cep-street">
            <mat-form-field>
              <input
                matInput
                placeholder="CEP"
                (blur)="postalCodeValue()"
                formControlName="postalCode"
              />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Rua" formControlName="street" />
            </mat-form-field>
          </div>
          <mat-form-field>
            <input matInput placeholder="Bairro" formControlName="district" />
          </mat-form-field>
          <div class="address__city-uf">
            <mat-form-field>
              <input matInput placeholder="Cidade" formControlName="city" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="UF" formControlName="state" />
            </mat-form-field>
          </div>
        </div>
        <button type="submit" mat-raised-button color="accent" matStepperNext>
          Próximo
        </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Forma de pagamento</ng-template>
      <form
        [formGroup]="firstFormGroup"
        (ngSubmit)="firstFormGroupSubmit()"
        *ngIf="!load"
      >
        <div style="padding:20px 0;width:100%">
          <div class="payments">
            <div class="payment-images" *ngIf="cards">
              <img
                *ngFor="let objArrayElement of generateArray(cards)"
                src="https://stc.pagseguro.uol.com.br./{{
                  objArrayElement.images.SMALL.path
                }}"
                [title]="objArrayElement.name"
                alt=""
              />
              <img
                *ngIf="boleto"
                src="https://stc.pagseguro.uol.com.br./{{
                  boleto.BOLETO.images.SMALL.path
                }}"
                [title]="boleto.BOLETO.name"
                alt=""
              />
              <!-- <mat-spinner class="payments-load"></mat-spinner> -->
            </div>
            <br />
            <h1>Escolha o método de pagamento:</h1>
            <mat-radio-group style="width:100%;" formControlName="method">
              <div>
                <mat-radio-button value="creditCard">
                  <div class="creditCard">
                    <h2>
                      Cartão de Crédito
                    </h2>
                  </div>
                </mat-radio-button>
              </div>
              <div>
                <mat-radio-button value="boleto">
                  <div class="boleto">
                    <h2>
                      Boleto
                    </h2>
                  </div>
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div>
          <button type="submit" mat-raised-button color="accent" matStepperNext>
            Próximo
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Finalizar</ng-template>

      <div>
        <form
          *ngIf="firstFormGroup.value.method == 'creditCard'"
          [formGroup]="secondFormGroup"
          (ngSubmit)="secondFormGroupSubmit()"
        >
          <div class="cardNumberCvv">
            <mat-form-field appearance="outline" id="cardNumberInput">
              <mat-label>Número do cartão</mat-label>
              <input
                (keyup)="keyPress($event)"
                matInput
                placeholder="0000000000000"
                formControlName="cardNumber"
                required
              />
              <img
                matSuffix
                id="cardImgBrand"
                class="input-icon"
                src="{{ brandImg }}"
              />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              style="width: 100px"
              id="cardCvvInput"
            >
              <mat-label>CVV</mat-label>
              <input
                matInput
                required
                placeholder="123"
                formControlName="cardCvv"
              />
            </mat-form-field>
          </div>

          <div class="dateExpiration">
            <mat-form-field style="width:100px">
              <mat-label>Mês</mat-label>
              <mat-select formControlName="cardExpirationMonth">
                <mat-option *ngFor="let m of month" [value]="m">
                  {{ m }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="width:100px">
              <mat-label>Ano</mat-label>
              <mat-select formControlName="cardExpirationYear">
                <mat-option *ngFor="let y of year" [value]="y">
                  {{ y }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="submit">CONFIRMAR</button>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Confirmar</button>
          </div>
        </form>
        <div *ngIf="firstFormGroup.value.method == 'boleto'">
          <h1>BOLETO</h1>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</perfect-scrollbar>
