<perfect-scrollbar
  class="container"
  [defaultImage]="defaultImage"
  [lazyLoad]="image"
>
  <div class="roundedImage">
    <img
      [defaultImage]="images?.lowQualityUrl"
      [lazyLoad]="images?.url"
      alt=""
    />
    <div class="select-image" (click)="openDialog()">
      <fa-icon [icon]="faUpload"></fa-icon>
    </div>
  </div>
  <div class="form__container">
    <form [formGroup]="formAdvisor" (ngSubmit)="advisorSubmit()">
      <div class="input__wrapper">
        <input
          class="input"
          type="text"
          formControlName="name"
          placeholder="Nome do orientador"
        />
        <div class="icon__input">
          <fa-icon [icon]="faUniversity"></fa-icon>
        </div>
      </div>
      <app-error-msg
        [control]="formAdvisor.get('name')"
        label="Nome do orientador"
      >
      </app-error-msg>

      <div class="input__wrapper input__wrapper--textarea">
        <textarea
          class="input"
          row="10"
          formControlName="description"
          placeholder="Descrição"
        ></textarea>
        <div class="icon__input--textarea">
          <fa-icon [icon]="faAlignLeft"></fa-icon>
        </div>
      </div>
      <app-error-msg
        [control]="formAdvisor.get('description')"
        label="Descrição"
      >
      </app-error-msg>

      <div class="input__wrapper">
        <input
          class="input"
          type="text"
          formControlName="email"
          placeholder="E-mail"
        />
        <div class="icon__input">
          <fa-icon [icon]="faCrosshairs"></fa-icon>
        </div>
      </div>
      <app-error-msg [control]="formAdvisor.get('email')" label="E-mail">
      </app-error-msg>

      <div class="input__wrapper">
        <input
          class="input"
          type="text"
          formControlName="number"
          placeholder="Número"
        />
        <div class="icon__input">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
      </div>
      <app-error-msg [control]="formAdvisor.get('number')" label="Número">
      </app-error-msg>

      <button class="btn btn__submit" type="submit">
        <span>Enviar </span>
      </button>
    </form>
  </div>
</perfect-scrollbar>
