<perfect-scrollbar
  class="container"
  [defaultImage]="defaultImage"
  [lazyLoad]="image"
>
  <div class="roundedImage">
    <img
      [defaultImage]="images?.lowQualityUrl"
      [lazyLoad]="images?.url"
      alt=""
    />
    <div class="select-image" (click)="openDialog()">
      <mat-icon>
        autorenew
      </mat-icon>
    </div>
  </div>
  <div class="form__container">
    <form [formGroup]="formAdvisor" (ngSubmit)="advisorSubmit()">

      <mat-form-field appearance="outline">
        <mat-label>Nome do orientador</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="ex: Berlim Digital"
        />
        <mat-icon matSuffix>account_circle</mat-icon>

        <mat-hint>
          <app-error-msg [control]="formAdvisor.get('name')" label="Nome">
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="ex: Uma explicação resumida do orientador"
        />
        <mat-icon matSuffix>assignment</mat-icon>

        <mat-hint>
          <app-error-msg
            [control]="formAdvisor.get('description')"
            label="Descrição"
          >
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="ex: berlim@digital.com"
        />
        <mat-icon matSuffix>email</mat-icon>

        <mat-hint>
          <app-error-msg [control]="formAdvisor.get('email')" label="E-mail">
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número</mat-label>
        <input
          matInput
          formControlName="number"
          placeholder="ex: (81)912345678"
        />
        <mat-icon matSuffix>phone</mat-icon>

        <mat-hint>
          <app-error-msg [control]="formAdvisor.get('number')" label="Número">
          </app-error-msg>
        </mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Enviar
      </button>
    </form>
  </div>
</perfect-scrollbar>
