<perfect-scrollbar
  class="container"
  [defaultImage]="defaultImage"
  [lazyLoad]="image"
  [config]="config"
>
  <div class="loading-detail" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <div (click)="goBack()" class="back">
    <mat-icon>arrow_back</mat-icon>
  </div>

  <img
    *ngIf="training?.banner.lowQualityUrl"
    [defaultImage]="training?.banner.lowQualityUrl"
    [lazyLoad]="training?.banner.url"
    alt=""
  />

  <h1 class="detail__title">{{ training?.title }}</h1>
  <p>{{ training?.description }}</p>

  <div class="advisor-detail">
    <h1 style="margin-top: 50px;">Orientador:</h1>
    <img
      [defaultImage]="training?.advisor.avatar.lowQ"
      [lazyLoad]="training?.advisor.avatar.url"
      alt=""
    />
    <h1>{{ training?.advisor.name }}</h1>
  </div>
  <p>{{ training?.advisor.description }}</p>
</perfect-scrollbar>
