/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/main.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// ng-scrollbar {
//   --scrollbar-border-radius: 7px!important;
//   --scrollbar-padding: 4px!important;
//   --scrollbar-viewport-margin: 0!important;
//   --scrollbar-track-color: transparent!important;
//   --scrollbar-wrapper-color: transparent!important;
//   --scrollbar-thumb-color: rgba(0, 0, 0, 0.246)!important;
//   --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.637)!important;
//   --scrollbar-size: 5px!important;
//   --scrollbar-hover-size: 10px!important;
// }


.ps__rail-y{
  background:transparent!important;
}
.ps__thumb-y{
  background:black!important;
  border-radius: 3px!important;
}
