app-error-msg {
  width: 100%;
}

.logo {
  max-width: 400px;
  width: 85%;
}

.menu {
  height: 50px;
  background: rgb(0, 0, 0);
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.miniature {
  max-width: 200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &:hover {
    transform: scale(1.1);
    .miniature__title {
      opacity: 1;
    }
  }
}

.roundedImage {
  top: 40px;
  max-width: 170px;
  height: 170px;
  width: 95%;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.383);
  justify-content: center;
  overflow: hidden;
  align-items: center;
  z-index: 2;
  img {
    height: 100%;
    z-index: 1 !important;
  }
}
.selectBanner {
  width: 98%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: -150px;
  .select-image {
    justify-content: flex-start;
    fa-icon {
      margin: 0 50px;
    }
  }
  img {
    width: 100%;
  }
}

.select-image {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.1s;
  background: rgba(61, 61, 61, 0.678);
  z-index: 5 !important;
  &:hover {
    opacity: 1;
  }
}

button[mat-raised-button] {
  padding: 0px 50px;
}

.select-advisor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img {
    margin: 5px;
    width: 30px;
    height: 30px;
  }
}

.link-form {
  margin: 5px !important;
  a {
    text-decoration: none;
    font-weight: bold;
  }
  a:link,
  a:active,
  a:visited {
    color: rgb(255, 0, 128);
  }
  /* mouse over link */
  a:hover {
    color: rgb(255, 56, 155);
  }
}

.form__container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.561);
  border-radius: 5px;
  background: white;
  width: 95%;
  margin-bottom: 20px;
  max-width: 400px;

  form {
    background: white;
    padding: 50px 20px 30px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }
}

app-miniature {
  outline: none;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  .ps-content {
    flex-direction: row !important;
  }
}

.cart {
  cursor: pointer;
  padding: 10px;
  background: rgb(0, 0, 0);
  color: white;
  z-index: 9999;
  position: fixed;
  right: 5px;
  top: 55px;
  border-radius: 5px;
  .cart-quantity {
    position: absolute;
    left: -5px;
    bottom: -10px;
    border-radius: 5px;
    padding:4px;

    background: #0090aa;
  }
}
