.menu {
  .menu__btn {
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 900;
    margin: 0 5px;
    position: relative;
    text-decoration: none;
    &::before {
      transition: all 0.2s;
      content: "";
      height: 3px;
      transform: scaleX(0);
      visibility: hidden;
      border-radius: 10px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #0090aa;
    }
    &:hover::before {
      transform: scaleX(1);
      visibility: visible;
    }
  }
}

.container {
  .training__title {
    color: white;
    padding: 50px 0;
    font-size: 50px;
    text-transform: uppercase;
  }
}
.detail__title {
  color: rgb(0, 0, 0);
  padding: 50px 0;
  font-size: 50px;
  text-transform: uppercase;
}

.miniature__container {
  width: 150px;
  height: 150px;
  margin: 5px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  border-radius: 50%;
  border: 5px solid white;
  background: gray;

  .miniature__image {
    height: 100%;
  }
}
.miniature__title {
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: 0.2s;

}
