<mat-progress-bar
  color="accent"
  class="global-loading"
  mode="indeterminate"
  *ngIf="loading"
></mat-progress-bar>
<header class="menu">
  <div>
    <a
      mat-button
      *ngIf="user"
      class="menu__btn"
      [routerLink]="['/admin']"
      routerLinkActive="menu__btn--active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Admin</a
    >
    <input #file type="file" name="file" hidden (change)="uploadFile($event)" />
    <a mat-button *ngIf="user" class="menu__btn" (click)="file.click()"
      >Upload</a
    >
  </div>

  <div>
    <a
      mat-button
      *ngIf="user"
      class="menu__btn"
      [routerLink]="['/admin/cadastrar']"
      routerLinkActive="menu__btn--active"
    >
      cadastrar</a
    >
  </div>
  <div>
    <a
      mat-button
      *ngIf="user"
      class="menu__btn"
      routerLinkActive="menu__btn--active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="logout()"
      >sair</a
    >
    <a
      mat-button
      *ngIf="!user"
      class="menu__btn"
      routerLinkActive="menu__btn--active"
      [routerLinkActiveOptions]="{ exact: true }"
      >entrar</a
    >
  </div>
</header>
